/* 
.content{
    height: 80vh;
    width: 100vw;
    display: flex;
    
}

.content .content_1{
    height: 90vh;
    width: 50vw;
   
  
} */

h1 {
  font-family: "Roboto Condensed", sans-serif;



  
  

}

